version: 2
jobs:

  test: &test-template
    docker:
    - image: circleci/python:3.6

    working_directory: ~/repo

    steps:
      - checkout

      - restore_cache:
          keys:
          - test-dependencies-{{ checksum "requirements.txt" }}
          - test-dependencies-

      - run:
          name: install dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install --upgrade pip
            pip install -r requirements.txt

      - run:
          name: run tests
          command: |
            . venv/bin/activate
            python -m unittest -v tests

      - save_cache:
         paths:
           - ./venv
         key: test-dependencies-{{ checksum "requirements.txt" }}

  test-3.5:
    <<: *test-template
    docker:
      - image: circleci/python:3.5
  test-3.7:
    <<: *test-template
    docker:
      - image: circleci/python:3.7

  publish:
    docker:
    - image: circleci/python:3.6

    working_directory: ~/repo

    steps:
      - checkout

      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "requirements_dev.txt" }}
          - v1-dependencies-

      - run:
          name: install dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install --upgrade pip
            pip install -r requirements_dev.txt

      - save_cache:
         paths:
           - ./venv
         key: v1-dependencies-{{ checksum "requirements_dev.txt" }}

      - run:
          name: build packages
          command: |
            . venv/bin/activate
            python setup.py sdist bdist_wheel

      - run:
          name: publish on pypi
          command: |
            . venv/bin/activate
            twine upload dist/* -u $USER -p $PASSWORD

workflows:
  version: 2
  build_test_publish:
    jobs:
      - test
      - test-3.5
      - test-3.7
      - publish:
          requires:
            - test
          filters:
            branches:
              only: master
